\#*
.\#*
*~
*.o
tomb-askpass
tomb-status
.deps
!autogen.sh
aclocal.m4
autom4te.cache
config.guess*
config.h
config.log
config.php
config.status
config.sub*
configure
config.h.in
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
tags
doc/web/public
doc/web/dyne
debian
share/gtkrc
