Source: tomb
Section: misc
Priority: extra
Maintainer: Denis Roio <jaromil@dyne.org>
Build-Depends: debhelper (>= 7), autotools-dev, cdbs, libgtk2.0-dev, libnotify-dev, pkg-config
Standards-Version: 3.9.1
Homepage: http://tomb.dyne.org

Package: tomb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zsh, cryptsetup, pinentry-curses, gnupg, sudo
Suggests: tomb-gtk, wipe, dcfldd, steghide
Description: the crypto undertaker
 Derived from the dyne:bolic nesting mechanism, Tomb is a free and
 easy to operate desktop application for fairly strong encryption of
 personal files. A tomb is like a locked folder that can be
 transported and hidden in filesystems; its keys are password
 protected and can be kept separate, for instance keeping a tomb file
 in your computer's harddisk and its key file on a USB stick.
 Tomb relies on dm-crypt (and cryptsetup) as an encryption backend
 using the aes-cbc-essiv:sha256 cypher.

Package: tomb-gtk
Architecture: any
Depends: tomb, libnotify-bin, pinentry-gtk2, ${shlibs:Depends}, ${misc:Depends}
Description: the crypto undertaker - desktop integration
 Derived from the dyne:bolic nesting mechanism, Tomb is a free and
 easy to operate desktop application for fairly strong encryption of
 personal files. A tomb is like a locked folder that can be
 transported and hidden in filesystems; its keys are password
 protected and can be kept separate, for instance keeping a tomb file
 in your computer's harddisk and its key file on a USB stick.
 Tomb relies on dm-crypt (and cryptsetup) as an encryption backend
 using the aes-cbc-essiv:sha256 cypher.
 .
 This package contains a graphical interface to use Tomb on the desktop.
